pkgbase = IchiyOS-wallpapers
	pkgdesc = IchiyOS wallpapers
	pkgver = 3.0
	pkgrel = 3
	url = https://approvers.dev
	arch = any
	source = ichiyo-approves.png
    source = alterlinux-wallpapers-xfce

	md5sums = af6fe8a1fba1f52de9f059305685e7014581353d
	md5sums = f0b6106f9efc0e6676ff353a1458610a88e42de6

pkgname = IchiyOS-wallpapers

